// ====================
// COLORS
// ====================
$main-color: #f33e69;
$hover-color: #FC134A;
$light-color: #56BDDE;
$selection-color: #67AAA6;
$dark-color: #d5f55f;

$light-main-color: rgba(243, 62, 105, 0.85);
$white: rgba(255, 255, 255, 0.95);
$black: #171717;

$light-shadow: 0px 4px 40px rgba(185, 185, 185, 0.5);
$dark-shadow: 0px 4px 30px rgba(0, 0, 0, 0.27);

$big-light-shadow: 0px 4px 40px rgba(185, 185, 185, 0.8);
$big-dark-shadow: 2px 4px 30px rgba(10, 8, 8, 0.8);


// ====================
// FONTS
// ====================
@mixin header {
  font-family: SF Pro Display, serif;
  font-weight: bold;
}

@mixin regular-text {
  font-family: 'Montserrat', sans-serif !important;
  font-style: normal;
}