@import "constants";

.grid-container {
  display: grid;
  grid-template-columns: 100%;
  grid-gap: 1vh;
  grid-template-rows: minmax(25vh, auto) minmax(50vh, auto) minmax(20vh, auto);

  & .grid-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    & header {
      @include header;
      white-space: nowrap;
      text-align: center;
      font-size: xx-large;
      color: $black;
    }

    & h3 {
      @include regular-text;
      text-align: center;
      font-size: medium;
      font-weight: lighter !important;
      color: $black !important;
    }
  }

  & .grid-footer {
    display: grid;
    align-items: flex-end;
    justify-content: stretch;
    padding-bottom: 3vh;
    padding-left: 2vw;
    padding-right: 2vw;
  }

  & .grid-footer footer {
    //margin-top: 5rem;
    padding: 1rem;
    border-radius: 8px;
    position: relative;
    bottom: 0;
    height: 2.5rem;
    display: flex;
    justify-content: space-between;


    & #footer__text-container {
      @include regular-text;
      font-size: medium;
      display: inline-flex;
      align-items: center;

      & a {
        color: gray;
        margin: 1vw 1vw 1vw 2vw;
        white-space: nowrap;
        text-decoration: none;
      }

      & a:hover {
        color: #b8b7b7;
      }

    }

    & #footer__img-container {
      display: inline-flex;
      align-items: center;

      & a {
        margin: 1vw 1vw 1vw 2vw;
      }

      & a:hover {
        transform: translate(2.5%, -7.5%);
      }

    }

  }
}

.grid-main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  & #additional-container {
    display: grid;
    align-items: center;
    justify-content: center;

    & h2 {
      @include regular-text;
      font-size: small;
      color: #CECECE;
      align-items: center;
      display: block;
      margin: 1rem;
    }

    & #upload-btn:active {
      transform: translate(-2.5%, 3.5%);
    }

  }

  & #additional-container #upload-btn {
    @include regular-text;
    font-size: small;
    display: block;
    width: 5rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius: 8px;

    input[type="file"] {
      display: none;
    }
  }

  & button, input[type="file"] {
    border: none;
    cursor: pointer;
  }

  .start-container {

    & button {
      width: 10rem;
      height: 3rem;
      font-family: SF Pro Display, regular, monospace;
      font-size: large;
      color: white;
      border-radius: 7px;
      //background: $main-color;
    }

    & button:active {
      box-shadow: $big-light-shadow;
      transform: translate(-1.5%, 2.5%);
    }

  }

  & .dropdown {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-left: auto;
    margin-right: auto;

    border-radius: 15px;

    & h1 {
      font-family: SF Pro Display, bold, sans-serif;
      font-size: xx-large;
      text-align: center;
      margin: 1.5vh 1vw 1.5vh 2.5vw;
      padding: 0.5vw;
      display: flex;
      align-items: center;
    }

    & #arrow {
      width: 1.75rem;
      height: 1.75rem;
      margin-right: 2vw;
      margin-left: 2vw;
    }

    & #menu-square {
      border-top: solid 1px rgb(222, 222, 222);
      display: flex;
      justify-content: flex-end;
      padding: 2vh 2vh 0.5vh;
    }
  }

}

#change-theme {
  @include regular-text;
  display: flex;
  font-size: 1rem;
  position: absolute;
  right: 3rem;
  top: 3rem;

  align-items: center;
}

#mobile-change-theme {
  height: auto;
  position: absolute;
  display: none;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-flex;
  align-items: center;
  width: 4rem;
  height: 2.5rem;
  margin: 0 1rem;

  ///* Hide default HTML checkbox */
  & switch input {
    display: none;
  }
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;

  &:before {
    position: absolute;
    content: "";
    height: 1.9rem;
    width: 1.9rem;
    left: 0.2rem;
    bottom: 0.3rem;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

  /* Rounded sliders */
  &.round {
    border-radius: 100px;

    &:before {
      border-radius: 50%;
    }
  }
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

@media screen and (max-width: 500px) {

  input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
  }

  .slider:before {
    height: 4.5vw;
    width: 4.5vw;
    left: 0.2rem;
    bottom: 0.2rem;
  }

  #mobile-change-theme {
    display: flex;
    width: 8vw!important;
    right: 5vw!important;
    top: 5vw!important;
  }

  #change-theme {
    display: none;
  }

  header {
    font-size: 6vw!important;
  }

  h3 {
    font-size: 3vw!important;
  }

  .dropdown h1 {
    font-size: 6.5vw !important;
  }

  .start-container button {
    width: 30vw!important;
    height: 10vw!important;
    font-size: 4vw!important;
  }

  #additional-container h2 {
    font-size: 3vw!important;
  }

  #additional-container #upload-btn {
    font-size: 2.5vw!important;
    width: 15vw!important;
  }

  footer #footer__text-container {
    font-size: 4vw!important;
  }
}

@media screen and (max-height: 800px) {

  #mobile-change-theme {
    display: flex;
    width: 8vh;
    right: 3vh;
    top: 3vh;
  }

  #change-theme {
    display: none;
  }
}