@import "constants";

.preloader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 99999999999999;
  display: flex;
  align-items: center;
  justify-content: center;
  //background: #fff;
  transition: all 0.5s;
  opacity: 1;
}

.preloader-remove {
  opacity: 0;
  z-index: -10;
}

.preloader svg {
  max-width: 25em;
  border-radius: 3px;
  background: #FFF;
  fill: none;
  stroke: #b1b1b1;
  stroke-linecap: round;
  stroke-width: 12%
}

.preloader use {
  stroke: $main-color;
  animation: preloader-a 0.5s linear infinite
}

@keyframes preloader-a {
  to {
    stroke-dashoffset: 0px
  }
}