<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="color-scheme" content="dark light">
    <!--Нужно для нормальной адаптивности-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="height=device-height, initial-scale=1">
    <title>Коллоквиум</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="../public/css/main.css">
    <link rel="stylesheet" href="../public/css/dropDown.css">
    <link rel="stylesheet" type="text/css" href="../public/css/light.css" id="theme-link">
    <link rel="stylesheet" href="../public/css/media.css">
    <link href="//db.onlinewebfonts.com/c/3cff9206b4c8d578245ef1aaeeaf9e84?family=SF+Pro+Display" rel="stylesheet"
          type="text/css"/>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&display=swap" rel="stylesheet">

</head>
<body>
<div id="grid-container">
    <div class="grid-header">
        <header>
            Добро пожаловать в <br> систему коллоквиумов ИТМО ✌️
            <div id="change-theme">
                <span id="theme-text">Тёмная тема</span>
                <!-- Rounded switch -->
                <label class="switch" id="theme-button" onclick="changeTheme();">
                    <input type="checkbox">
                    <span class="slider round"></span>
                </label>
            </div>
            <img id="mobile-change-theme"
                 src="../public/assets/img/dark-moon.svg"
                 alt="Change theme"
                 onclick="changeMoonTheme();">
        </header>
        <h3>Чтобы начать штудирование, выберите предмет</h3>
    </div>

    <div id="grid-main-content">
        <div id="dropdown" class="closed">
            <h1>Дискретная математика
                <svg id="arrow" width="42" height="25" viewBox="0 0 42 25" fill="none"
                     xmlns="http://www.w3.org/2000/svg">
                    <path d="M39 22L21.439 5L3 22" stroke="#E61E4E" stroke-width="7"/>
                </svg>
            </h1>

            <ul id="menu">
                <li>
                    <a href="#">
                        <span data-content="Линейная алгебра">Линейная алгебра</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span data-content="Математический анализ">Математический анализ</span>
                    </a>
                </li>
                <li>
                    <a href="#"><span data-content="Очень важный предмет">Очень важный предмет</span>
                    </a>
                </li>
                <li id="menu-square"><a href="#" onclick="alert('Пососи')">
                    <svg width="23" height="23" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 0H12.5V5H5V12.5H0V0ZM22.5 0H35V12.5H30V5H22.5V0ZM30 22.5H35V35H22.5V30H30V22.5ZM12.5 30V35H0V22.5H5V30H12.5Z"
                              fill="#E61E4E"/>
                    </svg>
                </a></li>
            </ul>
        </div>

        <div id="start-container">
            <button>Поехали!</button>
        </div>

        <div id="additional-container">
            <h2>или можете загрузить свой файл...</h2>

            <label id="upload-btn">
                <input type="file"/>
                Загрузить
            </label>
        </div>
    </div>

    <div id="grid-footer">
        <footer>
            <div id="footer__text-container">
                <a href="#">О нас</a>
                <a href="#">Отзыв</a>
            </div>

            <div id="footer__img-container">
                <a href="https://www.instagram.com/dirty_lipa/" target="_blank"><img
                        src="../public/assets/img/instagram.svg" alt="inst" width="25px">
                </a>
                <a href="https://github.com/websect-itmo" target="_blank"><img
                        src="../public/assets/img/github.svg" alt="github" width="25px">
                </a>
            </div>
        </footer>
    </div>

</div>

<script src="../public/js/theme.js"></script>
<script src="../public/js/dropDown.js"></script>
</body>
</html>